<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<head>
    <meta charset="UTF-8">
    <title>Medewerker bewerken</title>
</head>

<div th:include="header :: header"></div>
<body>
<form action="#" method="post" th:action="@{/admin/employees/update/{id}(id=${employee.get().getEmployee_id()})}"
      th:object="${employee}">


    <label>ID</label>
    <input disabled="disabled" th:value="${employee.get().getEmployee_id()}" type="text">
    <label>Gebruikersnaam</label>
    <input name="employeeName" th:value="${employee.get().getUsername()}" type="text">
    <label>Toegang</label>
    <select th:name="employeeRole" th:value="${employee.get().getRole()}">
        <option th:text="ROLE_USER" value="ROLE_USER"></option>
        <option th:text="ROLE_ADMIN" value="ROLE_ADMIN"></option>
    </select>
    <label>Aanpassen</label>
    <button th:value="${employee.get().getEmployee_id()}" type="submit">SAVE</button>

</form>

</body>
</html>