<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Adminpaneel - Medewerkers</title>
</head>

<div th:include="header :: header"></div>
<body>
<table>
    <thead>
    <tr>
        <th valign="top">ID</th>
        <th valign="top">Usernaam</th>
        <th valign="top">Toegang</th>
        <th valign="top">Aanpassen:</th>
    </tr>
    </thead>
    <tbody>

    <form align="center" method="get" th:action="@{/admin/employees/edit}">
        <tr th:each="employee: ${employees}">
            <td><span th:text="${employee.getEmployee_id()}"></span></td>
            <td><span th:text="${employee.getUsername()}"></span></td>
            <td><span th:text="${employee.getRole()}"></span></td>
            <td><a th:href="@{/admin/employees/edit/{id}(id=${employee.getEmployee_id()})}">EDIT</a>
                <a onclick="return confirm('Ben je zeker?')"
                   th:href="@{/admin/employees/delete/{id}(id=${employee.getEmployee_id()})}">DELETE</a></td>
        </tr>

    </form>
    </tbody>

</table>

<div align="center">
    <a align="center" th:href="@{/admin/employees/newUser}">Medewerker aanmaken</a>
</div>


</body>
</html>