<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<head>
    <meta charset="UTF-8">
    <title>Medewerker bewerken</title>
</head>

<div th:include="header :: header"></div>
<body>
<form action="#" method="post" th:action="@{/admin/updateEmployee}" th:object="${employee}">
    <label>ID</label>
    <input disabled="disabled" th:value="${employee.get().getEmployee_id()}" type="text">
    <label>Gebruikersnaam</label>
    <input th:value="${employee.get().getUsername()}" type="text">
    <label>Toegang</label>
    <input th:value="${employee.get().getRole()}" type="text">
    <label>Aanpassen</label>
    <button th:value="${employee.get().getEmployee_id()}" type="submit">SAVE</button>

</form>

</body>
</html>