
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/admin.css}">
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Frituur</title>
</head>
<div th:include="header :: header"></div>
<body>
<div id="admin-panel-wrapper">
    <div class="navigation-wrapper">
<a th:href="@{/admin/employees}">Medewerkers</a>
<a th:href="@{/admin/snacks}">Snacks</a>
<a th:href="@{/admin/burgers}">burgers</a>
</div>
</div>
</body>
<footer>
    <div th:include="footer :: copy"></div>
</footer>
</html>