<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Royal greys - Frituur - ERROR 404</title>
</head>
<body>
<div id="container">
    <div id="container-header">
        <h1 align="center">Deze pagina is niet beschikbaar.</h1>
        <p align="center">Heb je de URL zelf ingetypt? Controleer dan of deze juist is. Indien dit niet het geval is,
            gelieve dan
            contact op te nemen met een administrator.</p>
    </div>

    <div id="back-button-wrapper">
        <button id="back-button"><a th:href="@{/}"> Ga terug . . . </a></button>
    </div>
</div>
</div>
</body>
</html>