<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Frituur</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th valign="top">Product ID:</th>
        <th valign="top">Product naam:</th>
        <th valign="top">Product prijs:</th>
        <th valign="top">Aanpassen: </th>
    </tr>
    </thead>
    <tbody>

    <tr th:if="${products.iterator().next() == null}">
        <td colspan="3"> No products found!</td>
    </tr>
<form th:action="@{/admin/products/edit}" method="get" name="getProduct">
    <tr th:each="product: ${products}">
        <td><span th:text="${product.getProduct_id()}"> Product ID: </span></td>
        <td><span th:text="${product.getProduct_name()}"> Product Name: </span></td>
        <td><span th:text="${product.getPrice_sold()}"> Product Price: </span></td>
        <td><a th:href="@{/admin/products/edit/{id}(id=${product.getProduct_id()})}">EDIT</a></td>
    </tr>
</form>
    </tbody>
</table>


</body>
</html>