<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Adminpaneel - Medewerkers</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th valign="top">ID</th>
        <th valign="top">Usernaam</th>
        <th valign="top">Toegang</th>
        <th valign="top">Aanpassen: </th>
    </tr>
    </thead>
    <tbody>

    <tr th:if="${employees.iterator().next() == null}">
        <td colspan="3"> No products found!</td>
    </tr>
    <tr th:each="employee: ${employees}">
        <td><span th:text="${employee.getEmployee_id()}"></span></td>
        <td><span th:text="${employee.getUsername()}"></span></td>
        <td><span th:text="${employee.getRole()}"></span></td>
        <td><a th:href="@{/admin/employees/edit/{id}(id=${employee.getEmployee_id()})}">EDIT</a></td>
    </tr>
    </tbody>

</table>

</body>
</html>