<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Frituur</title>
</head>


<div th:include="header :: header"></div>
<body>

<table>
    <thead>
    <tr>
        <th valign="top">Product ID:</th>
        <th valign="top">Product naam:</th>
        <th valign="top">Product prijs:</th>
        <th valign="top">Aanpassen: </th>
    </tr>
    </thead>
    <tbody>

    <tr th:if="${products.iterator().next() == null}">
        <td colspan="3"> No products found!</td>
    </tr>
<form th:action="@{/admin/products/edit}" method="get" name="getProduct" align="center">
    <tr th:each="product: ${products}">
        <td><span th:text="${product.getProduct_id()}"> Product ID: </span></td>
        <td><span th:text="${product.getProduct_name()}"> Product Name: </span></td>
        <td><span th:text="${product.getPrice_sold()}"> Product Price: </span></td>
        <td><a th:href="@{/admin/products/edit/{id}(id=${product.getProduct_id()})}">EDIT</a>
        <a th:href="@{/admin/products/delete/{id}(id=${product.getProduct_id()})}" onclick="return confirm('Ben je zeker?')">DELETE</a>
        </td>
    </tr>
</form>

</tbody>
</table>


<form th:action="@{/admin/products/new/}" method="post" th:object="${newProduct}" name="postProduct" align="center">
    <label>Product naam</label>
    <input type="text" th:field="*{product_name}">
    <label>Product verkoopprijs</label>
    <input type="text" th:field="*{price_sold}">
    <label>Product aankoopprijs</label>
    <input type="text" th:field="*{price_bought}">
    <button align="center" type="submit">Product toevoegen</button>
</form>



</body>
</html>