
<link rel="stylesheet" href="static/styles/checkout.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Frituur</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th valign="top">Snacks</th>
        <th valign="top">Sauzen</th>
        <th valign="top">Burgers</th>
    </tr>
    </thead>
    <tbody>

    <tr th:if="${products.iterator().next() == null}">
        <td colspan="3"> No products found!</td>
    </tr>

    <tr th:each="product, productStat: ${products}">
        <td>
        <button id= "snack_1" th:name="${product.getProduct_name()}" th:value="${product.getPrice_sold()}" th:text="${product.getProduct_name()}"></button>
        </td>
        <td> 1 </td>

        <td> 2 </td>
    </tr>
    </tbody>
</table>
</body>
<footer> <div th:include="footer :: copy"></div></footer>
</html>