<link rel="stylesheet" href="static/styles/error.css">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Royal greys - Frituur - ERROR 404</title>
</head>
<body>
<div id="container">
    <div id="container-header">
        <h1>Pagina niet gevonden!</h1>
    </div>

    <p>
        De opgegeven pagina is niet gevonden. Als je ze URL zelf hebt ingetypt, controleer dan of deze juist is. Indien dit niet het geval is, gelieve dan contact op te nemen met een administrator!
        <br>
        <button th:href="@{/}" id="back-button">Ga terug . . . </button>
    </p>

</div>
</body>
</html>