
<link rel="stylesheet" href="static/styles/login.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Royalgreys - Login </title>

</head>
<body>
<div id="form">
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <div id="error">
            <h2>Meld je aan om verder te gaan!</h2>
            </div>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <label for="username">Gebruikersnaam</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Inloggen</button>
            </div>
        </fieldset>
    </form>
</div>
<footer>Copyright Yannick/Tristan - 2021</footer>
</body>
</html>