<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Royalgreys - Login </title>
    <link rel="stylesheet" th:href="@{/static/styles/login.css}">
</head>
<body>
<div id="form">

    <div id="errors" th:if="${(param.error != null) and (param.error[0] == 'true')}">
        Gebruikersnaam of paswoord is incorrect!
    </div>

    <form method="post" name="f" th:action="@{/login}">
        <fieldset>
            <h2>Meld je aan om verder te gaan!</h2>
            <label for="username">Gebruikersnaam</label>
            <input autofocus="autofocus" id="username" name="username" type="text"/>
            <label for="password">Wachtwoord</label>
            <input id="password" name="password" type="password"/>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Inloggen</button>
            </div>
        </fieldset>
    </form>
</div>
<footer>
    <div th:include="footer :: copy"></div>
</footer>
</body>
</html>