<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Frituur - Burgers</title>
</head>


<div th:include="header :: header"></div>
<body>

<table>
    <thead>
    <tr>
        <th valign="top">Sauce ID:</th>
        <th valign="top">Sauce naam:</th>
        <th valign="top">Sauce prijs:</th>
        <th valign="top">Aanpassen:</th>
    </tr>
    </thead>
    <tbody>

    <form align="center" method="get" name="getProduct" th:action="@{/admin/sauces/edit}">
        <tr th:each="product: ${sauces}">
            <td><span th:text="${product.getProductId()}"> Product ID: </span></td>
            <td><span th:text="${product.getProductName()}"> Product Name: </span></td>
            <td><span th:text="${product.getPriceSold()}"> Product Price: </span></td>
            <td><a th:href="@{/admin/sauces/edit/{id}(id=${product.getProductId()})}">EDIT</a>
                <a onclick="return confirm('Ben je zeker?')"
                   th:href="@{/admin/sauces/delete/{id}(id=${product.getProductId()})}">DELETE</a>
            </td>
        </tr>
    </form>

    </tbody>
</table>


<form align="center" method="post" name="postProduct" th:action="@{/admin/sauces/new/}" th:object="${newSauce}">
    <label>Product naam</label>
    <input autofocus="autofocus" th:field="*{productName}" type="text">
    <label>Product verkoopprijs</label>
    <input th:field="*{priceSold}" type="text">
    <label>Product aankoopprijs</label>
    <input th:field="*{priceBought}" type="text">
    <button align="center" type="submit">Product toevoegen</button>
</form>


</body>
</html>