
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" th:href="@{/static/styles/checkout.css}">
<script th:src="@{/static/js/handleButton.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Frituur</title>
</head>
<header>
    <div class="nav-bar">
        <ul>
            <img id="logo-greys-klein" th:src="@{/static/images/LOGO_GREYS_final.svg}" alt="royalgreys_logo_klein"/>
            <li  sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Adminpaneel</a></li>
            <li><span th:text="WELKOM +', '+ ${#authentication.getName().toUpperCase()}"></span></li>
            <li><a th:href="@{/logout}">Uitloggen</a> </li>
        </ul>
    </div>
</header>
<body>

<table>
    <thead>
    <tr>
        <th valign="top">Snacks</th>
        <th valign="top">Sauzen</th>
        <th valign="top">Burgers</th>
    </tr>
    </thead>
    <tbody>

<!--    <tr th:if="${products.iterator().next() == null}">-->
<!--        <td colspan="3"> No products found!</td>-->
<!--    </tr>-->
<form name="buttonForm" method="get" th:action="@{/apto}">
    <tr th:each="i : ${#numbers.sequence( 0, #lists.size(products), 2)}">
        <td th:if="${i < #lists.size(products)}">
            <button th:id="'snack_' + ${products[i].getProductId()}" th:name="buttonSnack" th:value="${products[i].getProductId()}" th:text="${products[i].getProductName()}"></button>
            <button th:if="${i + 1 < #lists.size(products)}" th:id="'snack_' + ${products[i+1].getProductId()}" th:name="${products[i+1].getProductName()}" th:value="${products[i+1].getPriceSold()}" th:text="${products[i+1].getProductName()}"></button>
    </tr>
</form>
    </tbody>
</table>

<div>

    <form name="handleOrder" method="get" th:action="@{/newOrder}" align="center">
    <button type="submit">Nieuwe bestelling</button>
    </form>
</div>

<!--<form name="orderz" th:align="center" class="order_wrapper">-->
<!--    <table>-->
<!--        <thead>Order</thead>-->
<!--        <tr th:each="orderSet : ${newOrderSet}">-->
<!--    </table>-->
<!--</form>-->
</body>
<footer>
    <div th:include="footer :: copy"></div>
</footer>
</html>