<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/checkout.css}">
<script th:src="@{/static/js/print.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Frituur</title>
</head>
<header>
    <div class="nav-bar">
        <ul>
            <img alt="royalgreys_logo_klein" id="logo-greys-klein" th:src="@{/static/images/LOGO_GREYS_final.svg}"/>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Adminpaneel</a></li>
            <li><span th:text="WELKOM +', '+ ${#authentication.getName().toUpperCase()}"></span></li>
            <li><a th:href="@{/logout}">Uitloggen</a></li>
        </ul>
    </div>
</header>
<body>


<div style="display: flex; justify-content: space-around">

    <form align="center" method="get" name="handleOrder" th:action="@{/newOrder}">
        <button type="submit">Nieuwe bestelling</button>
    </form>

    <form align="center" method="post" name="saveOrder" th:action="@{/saveOrder}">
        <button type="submit">Bestelling opslaan</button>
    </form>

    <button onclick="PrintDiv()" type="submit">Bestelling afdrukken</button>
</div>

<table class="checkout_buttons">
    <thead>
    <tr>
        <th >Producten</th>
    </tr>
    </thead>

    <tbody>
    <div id="snacks">
    <form method="post" name="orders" th:action="@{/apto}">
        <tr th:each="i : ${#numbers.sequence( 0, #lists.size(snacks), 2)}">
            <td th:if="${i < #lists.size(snacks)}">
                <button th:id="'snack1_' + ${snacks[i].getProductId()}" th:name="buttonSnack"
                        th:text="${snacks[i].getProductName()}" th:value="${snacks[i].getProductId()}"></button>
                <button th:id="'snack2_' + ${snacks[i+1].getProductId()}" th:if="${i + 1 < #lists.size(snacks)}"
                        th:name="buttonSnack" th:text="${snacks[i+1].getProductName()}"
                        th:value="${snacks[i+1].getProductId()}"></button>
                <input th:name="snackType" type="hidden" value="snack"/>
            </td>
    </form>
    </div>

    <div id="sauces">
    <form method="post" name="orders" th:action="@{/apto}">
        <tr th:each="i : ${#numbers.sequence( 0, #lists.size(sauces), 2)}">
            <td th:if="${i < #lists.size(sauces)}">
                <button th:id="'sauce1_' + ${sauces[i].getProductId()}" th:name="buttonSnack"
                        th:text="${sauces[i].getProductName()}" th:value="${sauces[i].getProductId()}"></button>
                <button th:id="'sauce2_' + ${sauces[i+1].getProductId()}" th:if="${i + 1 < #lists.size(sauces)}"
                        th:name="buttonSnack" th:text="${sauces[i+1].getProductName()}"
                        th:value="${sauces[i+1].getProductId()}"></button>
                <input th:name="snackType" type="hidden" value="sauce"/>
            </td>
    </form>

    </div>

    <div id="burgers">
    <form method="post" name="orders" th:action="@{/apto}">
        <tr th:each="i : ${#numbers.sequence( 0, #lists.size(burgers), 2)}">
            <td th:if="${i < #lists.size(burgers)}">
                <button th:id="'burger1_' + ${burgers[i].getProductId()}" th:name="buttonSnack"
                        th:text="${burgers[i].getProductName()}"
                        th:value="${burgers[i].getProductId()}"></button>
                <button th:id="'burger2_' + ${burgers[i+1].getProductId()}"
                        th:if="${i + 1 < #lists.size(burgers)}"
                        th:name="buttonSnack" th:text="${burgers[i+1].getProductName()}"
                        th:value="${burgers[i+1].getProductId()}"></button>
                <input th:name="snackType" type="hidden" value="burger"/>
            </td>
    </form>
    </div>
    </tbody>
</table>


<div class="order_overview" id="printable">
    <table>
        <thead>
        <tr>
            <th th:text="'Order # ' + ${order.getOrderId()} + ' - ' + 'Bediening door: ' + ${session.employee.username} + ' - ' +'Totaal: ‎€' + ${orderTotal} "></th>
        </tr>
        </thead>
        <form method="post">
        <tbody>

<tr th:each="detail : ${orderList}">
    <td th:text="${detail.getProduct().getProductName()}"/>
    <td th:text="${detail.getProduct().getPriceSold()}"/>
    <td>
        <a onclick="return confirm('Ben je zeker?')" th:href="@{/deleteRow/{id}(id=${detailStat.count})}">X</a>
    </td>
</tr>

</tbody>
</form>
</table>
</div>

</body>
<footer>
    <div th:include="footer :: copy"></div>
</footer>
</html>