<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" th:href="@{/static/styles/checkout.css}">
<script th:src="@{/static/js/print.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Royal Greys - Frituur</title>
</head>
<header>
    <div class="nav-bar">
        <ul>
            <img id="logo-greys-klein" th:src="@{/static/images/LOGO_GREYS_final.svg}" alt="royalgreys_logo_klein"/>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Adminpaneel</a></li>
            <li><span th:text="WELKOM +', '+ ${#authentication.getName().toUpperCase()}"></span></li>
            <li><a th:href="@{/logout}">Uitloggen</a></li>
        </ul>
    </div>
</header>
<body>


<div style="display: flex; justify-content: space-around">

    <form name="handleOrder" method="get" th:action="@{/newOrder}" align="center">
        <button type="submit">Nieuwe bestelling</button>
    </form>

    <form name="saveOrder" method="post" th:action="@{/saveOrder}" align="center">
        <button type="submit" onclick="PrintDiv()">Bestelling opslaan</button>
    </form>
</div>

<table class="checkout_buttons">
    <thead>
    <tr>
        <th valign="top">Snacks</th>
        <th valign="top">Sauzen</th>
        <th valign="top">Burgers</th>
    </tr>
    </thead>
    <tbody>
    <form name="orders" method="post" th:action="@{/apto}">
        <form name="buttonForm" method="get" th:object="${snacks}">
            <form th:object="${burgers}">

                <tr th:each="i : ${#numbers.sequence( 0, #lists.size(snacks), 2)}">
                    <td th:if="${i < #lists.size(snacks)}">
                        <button th:id="'snack1_' + ${snacks[i].getProductId()}" th:name="buttonSnack"
                                th:value="${snacks[i].getProductId()}" th:text="${snacks[i].getProductName()}"></button>
                        <button th:id="'snack2_' + ${snacks[i+1].getProductId()}" th:if="${i + 1 < #lists.size(snacks)}"
                                th:name="buttonSnack" th:value="${snacks[i+1].getProductId()}"
                                th:text="${snacks[i+1].getProductName()}"></button>
                        <input type="hidden" value="snack" th:name="snackType"/>
                    </td>

                    <td>

                    </td>


                    <td th:if="${i < #lists.size(burgers)}">
                        <button th:id="'burger1_' + ${burgers[i].getProductId()}" th:name="buttonSnack"
                                th:value="${burgers[i].getProductId()}"
                                th:text="${burgers[i].getProductName()}"></button>
                        <button th:id="'burger2_' + ${burgers[i+1].getProductId()}"
                                th:if="${i + 1 < #lists.size(burgers)}"
                                th:name="buttonSnack" th:value="${burgers[i+1].getProductId()}"
                                th:text="${burgers[i+1].getProductName()}"></button>
                        <input type="hidden" value="burger" th:name="snackType"/>
                    </td>
                </tr>
            </form>
        </form>
    </form>


    </tbody>
</table>


<div class="order_overview" id="printable">
    <table>
        <thead>
        <tr>
            <th th:text="'Order # ' + ${order.getOrderId()} + ' - ' + 'Bediening door: ' + ${session.employee.username} + ' - ' +'Totaal: ‎€' + ${orderTotal} "></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${orderList}">
            <td th:text="${detail.getProduct().getProductName()}"/>
            <td th:text="${detail.getProduct().getPriceSold()}"/>
            <td th:name="${detail.getQuantity()}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
<footer>
    <div th:include="footer :: copy"></div>
</footer>
</html>