@import "interface.css";

body {

}

#container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    margin: auto;
}

#back-button-wrapper {
    display: flex;
    left: auto;
    right: auto;
    justify-content: center;

}

#back-button {
    width: 150px;
}

label {
    font-size: 25px;
    color: #315e0b;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #1d5a11;
    font-weight: bold;
}

td, th {
    padding: 10px;
    text-align: left;
    font-size: 18px;
    backdrop-filter: blur(10px);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
