<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/styles/adminpaneeltable.css}">
<head>
    <meta charset="UTF-8">
    <title>Producten bewerken</title>
</head>
<div th:include="header :: header"></div>
<body>
<form action="#" method="post" th:action="@{/admin/burgers/update}" th:object="${burger}">
    <label>ID</label>
    <input disabled="disabled" th:value="${burger.get().getProductId()}" type="text">
    <label>Product naam</label>
    <input th:value="${burger.get().getProductName()}" type="text">
    <label>Product verkoopprijs</label>
    <input th:value="${burger.get().getPriceSold()}" type="text">
    <label>Product aankoopprijs</label>
    <input th:value="${burger.get().getPriceBought()}" type="text">
    <label>Aanpassen</label>
    <button th:value="${burger.get().getProductId()}" type="submit">SAVE</button>


</form>

</body>
</html>